<div class="wrapper-grey">
  <div class="content">
    <div class="cards-container">
      <div class="row">
        <div class="page-header">
          <h1>All Supers <i class="fas fa-bolt"></i> <small>Find the best Super for your daily needs ! </small></h1>
          <%= form_tag superheroes_path, class: "header-button", method: :get do %>
            <div class="search-module">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control search-bar-index",
                placeholder: "Type a city"
              %>
              <%= button_tag type: "submit", class: "btn-super", id: "index-go" do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <% @superheroes.each do |superhero| %>
          <div class="col-xs-12">
            <div class="card">
              <div class="card-image" style="background-image: url('<%=cl_image_path superhero.photo, height: 150 %>')" >
              </div>
              <div class="card-content">
                <h3><%= link_to superhero.name.capitalize , superhero_path(superhero) %></h3>
                <p><i class="fas fa-map-marker-alt"></i> <%= superhero.address %></p>
                <div class="card-content-bottom">
                  <span class="label label-default"><%= superhero.power.capitalize %></span>
                  <span class="label label-danger"><%= link_to "Discover", superhero_path(superhero), class: "access-show" %></span>
                </div>
              </div>
              <div class="card-infos">
                <h4><%= superhero.daily_price %> €/day</h4>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>

<!-- Gmaps js: building the map -->

<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 47.218371, lng: -1.553621},
      scrollwheel: false,
      zoom: 11
    });
  }
</script>
<script async defer
    src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_BROWSER_KEY']}&callback=initMap"%>>
</script>


