<div class="wrapper-grey">
  <div class="header-index">
    <h1>All Supers</h1>
    <p>Find the best Super for your daily needs ! </p>
  </div>
  <div class="content">
    <div class="cards-container">
      <div class="row">
        <% @superheroes.each do |superhero| %>
          <div class="col-xs-12">
            <div class="card">
              <div class="card-image" style="background-image: '<%=cl_image_path superhero.photo %>' ">
              </div>
              <div class="card-content">
                <h3><%= superhero.name.capitalize %></h3>
                <p><i class="fas fa-map-marker-alt"></i> <%= superhero.address %></p>
                <div class="card-content-bottom">
                  <span class="label label-default"><%= superhero.power.capitalize %></span>
                  <%= link_to "Discover powers", superhero_path(superhero)  %>
                </div>
              </div>
              <div class="card-infos">
                <h4><%= superhero.daily_price %> €/day</h4>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>

<!-- Gmaps js: building the map -->
<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 47.218371, lng: -1.553621},
      scrollwheel: false,
      zoom: 11
    });
  }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Gmaps JavaScript -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>

