<div class="wrapper-grey">
  <div class="content">
    <div class="cards-container">
      <div class="row">
        <div class="page-header">
          <h1>All Supers <i class="fas fa-bolt"></i> <small>Find the best Super for your daily needs ! </small></h1>
          <%= form_tag superheroes_path, class: "header-button", method: :get do %>
            <div class="search-module">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control search-bar-index",
                placeholder: "Type a city"
              %>
              <%= button_tag type: "submit", class: "btn-super", id: "index-go" do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <% @superheroes.each do |superhero| %>
          <div class="col-xs-12">
            <div class="card">
              <div class="card-image" style="border-radius: 3px; background-image: url('<%=cl_image_path superhero.photo, height: 150 %>')"></div>
              <div class="card-content" style="font-weight: lighter">
                <h3 style="margin-bottom: 10px;"><%= superhero.name.capitalize %></h3>
                <p><i class="fas fa-map-marker-alt"></i><%= superhero.address %></p>
                <p><i class="fab fa-superpowers"></i><%= superhero.power.capitalize %></p>
              </div>
              <div class="card-infos">
                <h4 style="text-align: center; font-weight:bold;"><%= superhero.daily_price %> €</h4>
                <p style="text-align: center; font-weight: lighter;">per day</p>
              </div>
              <%= link_to '', superhero_path(superhero), class:'card-link' %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>

<!-- Gmaps js: building the map -->



