<div class="banner-show" style="background-image: url('<%= @superhero.photo %>')">
    <h1 class="banner-h1"><%= @superhero.name %></h1>
</div>

<div class="container container-show">
  <div class="row">
    <div class="col-xs-12 col-md-8">
        <h4 style="text-align: center; font-weight:bold; margin-top: 80px;"> Description</h4>
      <div class="card-description card">
        <p class="hero-description"><%= @superhero.description %></p>
      </div>
      <div class="skills card">
        <div> <strong>Power :</strong> <%= @superhero.power %> </div>
        <div> <strong>Address :</strong> <%= @superhero.address %> </div>

      </div>

    </div>
    <div class="col-xs-12 col-md-4 grow" style="margin-top :40px">
      <%= cl_image_tag @superhero.owner.photo, class: "avatar-large", height: 100, width: 100, crop: :fill %>
      <div class="card-price">
        <div class="price">
           <h4 style="text-align: center; font-weight:bold;"><%= @superhero.daily_price %> €</h4>
           <p style="font-weight: lighter;">per day</p>
        </div>
        <%= link_to "Rent this Hero", new_superhero_booking_path(@superhero), class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
