<div class="banner" style="background-image: url('<%= @superhero.photo %>')">
  <h1><%= @superhero.name %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="card-description">
        <h3>Description</h3>
        <p class="hero-description"><%= @superhero.description %></p>
      </div>
      <div class="skills">
        <div> <strong>Power :</strong> <%= @superhero.power %> </div>
        <div> <strong>Address :</strong> <%= @superhero.address %> </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-4">
      <%= cl_image_tag @superhero.owner.photo, class: "avatar-large", height: 100, width: 100, crop: :fill %>
      <div class="card-price">
        <div class="price">
          <strong><%= @superhero.daily_price %>€/day</strong>
        </div>
        <%= link_to "Rent this Hero", superhero_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>
