<!-- <div class="container" style="height:90vh;"> -->
  <%= simple_form_for [@superhero, @booking] do |f| %>
  <%= f.error_notification %>


<div class="container" style="height:90vh;">
  <div class="row">

    <div class="col-xs-12 col-md-7" style="margin-top: 100px">



      <div class="col-md-1 owner-avatar">
        <%= cl_image_tag @superhero.owner.photo, height: 48, width: 48, class: "avatar-large" %>
      </div>
      <div class="col-md-10 owner-info" style="margin-left: 0px">
        <h4>Send message to <%=@superhero.owner.name %></h4>
        <p>Since <%= current_user.created_at.strftime("%d.%m.%y") %></p>
      </div>


       <div class="col-xs-12">
            <div class="card">
              <div class="card-image" style="background-image: url('<%=cl_image_path @superhero.photo, height: 150 %>')" >
              </div>
              <div class="card-content">
                <h3><%= link_to @superhero.name.capitalize , superhero_path(@superhero) %></h3>
                <p><i class="fas fa-map-marker-alt"></i> <%= @superhero.address %></p>
                <div class="card-content-bottom">
                  <span class="label label-default"><%= @superhero.power.capitalize %></span>
                  <span class="label label-danger"><%= link_to "Back to superhero", superhero_path(@superhero), class: "access-show" %></span>
                </div>
              </div>
              <div class="card-infos">
                <h4><%= @superhero.daily_price %> €/day</h4>
              </div>
            </div>
          </div>

        <div class="col-xs-12 description" style="margin: 10px">
          <%= f.input :purpose, placeholder: "Send message to owner."%>
        </div>
    </div>

    <div class="col-xs-12 col-md-4 col-md-offset-1 maman" style="margin-top: 150px">
        <div class="col-xs-10">
          <div class="form-tamere" style="padding-top: 12px; margin-bottom:12px;"><%= @superhero.power.capitalize %></div>
        </div>
        <div class="col-xs-10" style="margin-bottom: 10px">
          <div class="form-tamere" style="padding-top: 12px; margin-bottom:12px;"><%= @superhero.address %></div>
        </div>

        <div class="date-input" style="margin-bottom: 10px" >
          <input type="text" name="booking[start_date]" class="form-control form-input text-input datepicker" data-provide='datepicker' placeholder="Start">
        </div>
        <div class="date-input" style="margin-bottom: 10px">
          <input class="form-control form-input text-input datepicker" data-provide='datepicker' name='booking[end_date]' placeholder="End">
        </div>
        <div class="text-center">
          <%= f.submit 'GO', class: 'btn-go text-center' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
