<div class="card-owner" data-booking-id="<%= booking.id %>">
  <%= cl_image_tag booking.renter.photo, height: 75, width: 75, crop: :fill, class: 'avatar-medium' %>
  <p class="flex-body", style="font-weight: lighter;">
    <%= booking.renter.name.capitalize %> wants to rent <%= booking.superhero.name %> for "<%= booking.purpose %>"
  </p>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to validate_owner_booking_path(booking), method: :patch, class:'btn btn-valid btn-success' do %>
        <i class="fa fa-check"></i>
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to decline_owner_booking_path(booking), method: :patch, class:'btn btn-valid btn-danger' do %>
        <i class="fa fa-times"></i>
      <% end %>
     </div>
  </div>
</div>


